*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #333;
}
/* 전체 레이아웃 */
.wrap{
    width: 700px;
    margin: auto;
    background-color:white;
}
/* 상단 */
header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header a{
    margin: 10px;
}
/* main */
/* 베너 */
.intro{
    background-image: url(images/back.png);
}
